body{
    margin: 0;
}
.navbar{
    z-index: 100;
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5d478c;
}
  
.navbar li {
    float: left;
}
  
.navbar li a {
    display: block;
    color: rgb(211, 209, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.navbar li a:hover:not(.active) {
    background-color: #111;
}